<div class="login-screen">
    <img src="img/sl-logo.png" class="login-logo" />
    <form ng-submit="vm.login()">
        <div>
            <input type="text" ng-model="vm.loginData.username" placeholder="Username">
            <input type="password" ng-model="vm.loginData.password" placeholder="Password">
            <br/>
            <br/>
            <button class="btn btn-positive btn-block" type="submit">Sign in</button>
            <br/>
            <br/>
            <p>Don't have an account yet? <a href="#signup">Sign up</a>
            </p>
        </div>
    </form>

</div>
